
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>新建面额</title>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">面额标题</label>
            <div class="layui-input-block">
                <input type="text" name="denominationLable" lay-verify="title" autocomplete="off" placeholder="请输入面额标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">充值金额</label>
            <div class="layui-input-block">
                <input type="text" name="denominationMoney" lay-verify="title" autocomplete="off" placeholder="请输入充值金额" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实付金额</label>
            <div class="layui-input-block">
                <input type="text" name="actuallyMoney" lay-verify="title" autocomplete="off" placeholder="请输入实付金额" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">赠送金额</label>
            <div class="layui-input-block">
                <input type="text" name="givenMoney" lay-verify="title" autocomplete="off" placeholder="请输入赠送金额" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">验证日期</label>
            <div class="layui-input-inline">
                <input type="text" name="periodValidity" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
        var $ = layui.$;
        //监听提交
        form.on('submit(demo1)', function (data) {
            var obj = {};
            obj.DenominationLable = data.field.denominationLable;
            obj.DenominationMoney = data.field.denominationMoney;
            obj.ActuallyMoney = data.field.actuallyMoney;
            obj.GivenMoney = data.field.givenMoney;
            obj.PeriodValidity = data.field.periodValidity;
            console.log(obj);
            $.ajax({
                url: 'http://localhost:49760/api/AddDenomination',
                type: 'post',
                data: JSON.stringify(obj),
                contentType: 'application/json',
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        layer.msg('新建成功', { icon: 1, title: '提示', time: 2000 }, function () {
                            layer.close(index);//关闭弹窗
                        })
                        location.href = '/Customer/GetLableIndex';
                    }
                    else {
                        layer.msg("新建失败");
                    }
                }
            })
            return false;
        });
    });
</script>
