
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <title>新建标签</title>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">标签名称</label>
            <div class="layui-input-block">
                <input type="text" name="lableName"  lay-verify="title" autocomplete="off" placeholder="请输入标签名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-block">
                <textarea name="lableExplain" placeholder="请输入说明" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确定创建</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
        var $ = layui.$;
        //监听提交
        form.on('submit(demo1)', function (data) {
            var obj = {};
            obj.LableName = data.field.lableName;
            obj.LableExplain = data.field.lableExplain;
            console.log(obj);
            $.ajax({
                url: 'http://@ViewBag.Url/api/GetLable',
                type: 'post',
                data: JSON.stringify(obj),
                contentType:'application/json',
                dataType: 'json',
                success: function (d) {
                    if (d>0) {
                        layer.msg('新建成功', { icon: 1, title: '提示', time: 2000 }, function () {
                            layer.close(index);//关闭弹窗
                        })
                        
                    }
                    else {
                        layer.msg("新建失败");
                    }
                }
            })
            return false;
        });
    });
</script>
