
@{
    Layout = null;
}
@using Purchase_Sell_Stock.MVC.Models.Property
@model Query
<!DOCTYPE html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TransToaccount</title>
</head>
<body>
    <table>
        <tr>
            <td><input id="Text1" type="text"  value="@Model.buyer_logon_id" placeholder="请输入充值金额" /></td>
        </tr>
        <tr>
            <td><input id="sdk" type="button" value="提交" /></td>
        </tr>
    </table>
</body>
</html>
<script>
        $('#sdk').on('click', function () {
            $.get('/Property/Query', function (date) {
                $('body').append(date);
            });
        });

</script>
