
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui/layui.all.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div style="width:2000px;height:400px;background-color:black">
        <div style="margin-top:20px;background-color:aqua">
            <div id="main2" style="width: 1000px;height:400px;float:left"></div>
            <div id="main1" style="width: 1000px;height:400px;float:right"></div>
        </div>
    </div>
    <div style="height:400px;width:2000px;background-color:blue">
        <div id="main4" style="width: 1000px;height:400px;float:left"></div>
        <div id="main3" style="width: 1000px;height:400px;float:right"></div>
    </div>
</body>
</html>
<script>
    layui.config({
        base: '/Scripts/'
    });

    layui.use(['echarts'], function () {
        var $ = layui.$;
        var myChart1 = layui.echarts.init(document.getElementById('main1'))
        option1 = {
            backgroundColor: '#071347',
            color: ["#006cff", "#60cda0", "#ed8884", "#ff9f7f", "#0096ff", "#9fe6b8", "#32c5e9", "#1d9dff"],
            xAxis: {
                type: 'category',
                axisLabel: {
                    color: '#fff'
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff'
                    }
                },
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            },
            yAxis: {
                type: 'value',
                name: '加载时间/秒',
                nameTextStyle: {
                    color: '#fff'
                },
                axisLabel: {
                    color: '#fff'
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff'
                    }
                }
            },
            series: [{
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: {
                            type: 'linear',
                            x: 0,
                            x2: 0,
                            y: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: '#00b0ff'
                            }, {
                                offset: 0.8,
                                color: '#7052f4'
                            }],
                            global: false, // 缺省为 false
                        },
                    },
                },
                data: [2.9, 1.0, 0.9, 0.6, 0.3],
            }, {
                name: "网络流量监控",
                type: "pie",
                radius: ["10%", "40%"],
                center: ["75%", "25%"],
                roseType: "radius",
                data: [
                    { value: 60, name: "广东" },
                    { value: 50, name: "深圳" },
                    { value: 35, name: "浙江" },
                    { value: 30, name: "江苏" },
                    { value: 24, name: "河北" },
                    { value: 12, name: "山东" },
                    { value: 6, name: "北京" },
                    { value: 5, name: "云南" },
                ],
                label: {
                    fontSize: 10,
                    formatter(params) {
                        return params.percent + '%'

                    }
                },
                labelLine: {
                    length: 10,
                    length2: 10
                }
            }
            ]
        };
        //载入配置
        myChart1.setOption(option1);

        //图表自适应窗口大小
        $('#main1').resize(function () {
            myChart1.resize();
        });

        var myChart2 = layui.echarts.init(document.getElementById('main2'))
        var xData = function () {
            var data = [];
            for (var i = 1; i < 31; i++) {
                data.push(i + "日");
            }
            return data;
        }();
        option2 = {
            backgroundColor: "#1A1835",

            tooltip: {
                trigger: "axis",
                axisPointer: {
                    type: "shadow",
                    textStyle: {
                        color: "#fff"
                    }

                },
            },
            grid: {
                borderWidth: 0,
                top: 110,
                bottom: 95,
                textStyle: {
                    color: "#fff"
                }
            },
            legend: {
                x: '46%',
                top: '11%',
                textStyle: {
                    color: '#90979c',
                },
                data: ['访问量', '订单量']
            },


            calculable: true,
            xAxis: [{
                type: "category",
                axisLine: {
                    lineStyle: {
                        color: "rgba(204,187,225,0.5)",
                    }
                },
                splitLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                data: xData,
            }],

            yAxis: [{
                type: "value",
                splitLine: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        color: "rgba(204,187,225,0.5)",
                    }
                },

            }],
            dataZoom: [{
                show: true,
                height: 30,
                xAxisIndex: [0],
                bottom: 30,

                "start": 10,
                "end": 80,
                handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
                handleSize: '110%',
                handleStyle: {
                    color: "#5B3AAE",
                },
                textStyle: {
                    color: "rgba(204,187,225,0.5)",
                },
                fillerColor: "rgba(67,55,160,0.4)",
                borderColor: "rgba(204,187,225,0.5)",

            }, {
                type: "inside",
                show: true,
                height: 15,
                start: 1,
                end: 35
            }],
            series: [{
                name: "访问量",
                type: "line",
                symbolSize: 10,
                symbol: 'circle',
                itemStyle: {
                    color: "#6f7de3",
                },
                markPoint: {
                    label: {
                        normal: {
                            textStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    data: [{
                        type: 'max',
                        name: '最大值',

                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                data: [
                    509, 917, 2455, 2610, 2719, 3033, 3044, 3085, 2708, 2809, 2117, 2000, 1455, 1210, 719,
                    733, 944, 2285, 2208, 3372, 3936, 3693, 2962, 2810, 3519, 2455, 2610, 2719, 2484, 2078
                ],
            }, {
                name: "订单量",
                type: "line",
                symbolSize: 10,
                symbol: 'circle',
                itemStyle: {
                    color: "#c257F6",
                },
                markPoint: {
                    label: {
                        normal: {
                            textStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    data: [{
                        type: 'max',
                        name: '最大值',

                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                data: [
                    2136, 3693, 2962, 3810, 3519, 3484, 3915, 3823, 3455, 4310, 4019, 3433, 3544, 3885, 4208, 3372,
                    3484, 3915, 3748, 3675, 4009, 4433, 3544, 3285, 4208, 3372, 3484, 3915, 3823, 4265, 4298
                ]
            },]
        }
        myChart2.setOption(option2);

        //图表自适应窗口大小
        $('#main2').resize(function () {
            myChart2.resize();
        });

        var myChart3 = layui.echarts.init(document.getElementById('main3'))
        var seriesData = [{
            name: "系统名称1",
            value: "10"
        }, {
            name: "系统名称2",
            value: "40"
        }, {
            name: "系统名称3",
            value: "50"
        }, {
            name: "系统名称4",
            value: "40"
        }, {
            name: "系统名称5",
            value: "40"
        },]
        let colorArr = ['#0A5CE0', '#729CDD', '#4EBB96', '#D5B829', '#DB611A']
        option3 = {
            backgroundColor: "#090e36",
            tooltip: {
                trigger: 'item',
                borderColor: 'rgba(255,255,255,.3)',
                backgroundColor: 'rgba(13,5,30,.6)',
                borderWidth: 1,
                padding: 5,
                formatter: function (parms) {
                    var str = parms.marker + "" + parms.data.name + "</br>" +
                        "数量：" + parms.data.value + "元</br>" +
                        "占比：" + parms.percent + "%";
                    return str;
                }
            },
            series: [{
                type: 'pie',
                center: ['50%', '50%'],
                radius: ['40%', '56%'],
                selectedMode: 'single',
                selectedOffset: 10,
                clockwise: true,
                avoidLabelOverlap: true,
                hoverOffset: 15,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            return colorArr[params.dataIndex]
                        }
                    }
                },
                label: {
                    show: true,
                    position: 'outside',
                    formatter: '{b|{b}}\n{a|{d}%}\n{hr|}',
                    rich: {
                        hr: {
                            backgroundColor: 't',
                            width: 3,
                            height: 3,
                            borderRadius: 3,
                            shadowBlur: 5,
                            shadowColor: "#fff",
                            shadowOffsetx: 20,
                            shadowOffsety: 20,
                            padding: [3, 3, 0, -12]
                        },
                        a: {
                            align: 'center',
                            padding: [-20, 10, 0, 10],
                            height: 20
                        },
                        b: {
                            padding: [-20, 10, -30, 10]
                        }
                    }
                },
                labelLine: {
                    show: true,
                    normal: {
                        length: 20,
                        length2: 30,
                        lineStyle: {
                            width: 1
                        }
                    }
                },
                data: seriesData
            }]
        };
        myChart3.setOption(option3);

        //图表自适应窗口大小
        $('#main3').resize(function () {
            myChart3.resize();
        });

        var myChart4 = layui.echarts.init(document.getElementById('main4'))
        var data1 = [14, 15, 65, 24, 75, 23, 24, 43, 27, 72, 12, 53];
        var data2 = [45, 65, 24, 74, 75, 23, 42, 54, 13, 32, 52, 13];
        var json = {
            chart0: {
                xcategory: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                low: data1,
                lowLine: [],
            }
        };
        var json2 = {
            chart0: {
                xcategory: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                low: data2,
                lowLine: [],
            }
        };
        var zrUtil = layui.echarts.util;
        zrUtil.each(json.chart0.xcategory, function (item, index) {
            json.chart0.lowLine.push([{
                coord: [index, json.chart0.low[index]]
            }, {
                coord: [index + 1, json.chart0.low[index + 1]]
            }]);
        });
        zrUtil.each(json.chart0.xcategory, function (item, index) {
            json2.chart0.lowLine.push([{
                coord: [index, json2.chart0.low[index]]
            }, {
                coord: [index + 1, json2.chart0.low[index + 1]]
            }]);
        });
        var option4 = {
            backgroundColor: '#03060F',
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: '#15ecf4'
                    }
                },
                backgroundColor: 'rgba(0,0,0,.8)',
                extraCssText: 'box-shadow: 4px 4px 10px rgba(21, 250, 255,.6);',
                formatter: function (params) {
                    var result = params[0].name + '<br>';
                    params.forEach(function (item) {
                        result += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + item.color + '"></span>';
                        // 判断设置增长还是降低
                        if (parseFloat(item.data) >= 50) {
                            result += item.seriesName + ": " + '<span class="growth">增长' + item.data + "%</span><br>"
                        } else if (parseFloat(item.data) < 50) {
                            result += item.seriesName + ": " + '<span class="reduce">降低' + item.data + "%</span><br>"
                        }
                    });
                    return result;
                }
            },
            legend: {
                data: ['同比', '环比'],
                textStyle: {
                    fontSize: 12,
                    color: 'rgb(0,253,255,0.6)'
                },
                top: '5%',
                right: '5%'
            },
            grid: {
                bottom: 50,
                left: 70,
                right: 50,
            },
            xAxis: {
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: '#15faff',
                    },

                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    show: true
                },
                data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            },
            yAxis: {
                max: 100,
                splitNumber: 4,
                interval: 25,
                axisLine: {
                    show: false,
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    lineStyle: {
                        type: 'dashed',
                        color: '#4b4d64'
                    }
                },
                axisLabel: {
                    formatter: '{value} %',
                    textStyle: { //改变刻度字体样式
                        color: '#ffffff'
                    }
                },
            },
            series: [{
                name: '环比',
                type: 'line',
                // smooth: true,
                symbol: 'circle',
                symbolSize: 10,
                areaStyle: {
                    normal: {
                        color: new layui.echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(255, 204,1, .9)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(6, 8, 41,.1)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#ffcb00'
                    }
                },
                data: data1
            },
            {
                name: '环比',
                type: 'lines',
                coordinateSystem: 'cartesian2d',
                zlevel: 1,
                smooth: true,
                symbol: 'circle',
                effect: {
                    show: true,
                    smooth: true,
                    period: 2,
                    symbolSize: 8
                },
                lineStyle: {
                    normal: {
                        color: '#ffcb00',
                        width: 0,
                        opacity: 0,
                        curveness: 0,
                    }
                },
                data: json.chart0.lowLine
            },
            {
                name: '同比',
                type: 'line',
                // smooth: true,
                symbol: 'circle',
                symbolSize: 10,
                areaStyle: {
                    normal: {
                        color: new layui.echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(21, 250, 255,.9)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(6, 8, 41,.1)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#15faff'
                    }
                },
                data: data2
            },
            {
                name: '同比',
                type: 'lines',
                coordinateSystem: 'cartesian2d',
                zlevel: 1,
                smooth: true,
                symbol: 'circle',
                effect: {
                    show: true,
                    smooth: true,
                    period: 2,
                    symbolSize: 8
                },
                lineStyle: {
                    normal: {
                        color: '#15faff',
                        width: 0,
                        opacity: 0,
                        curveness: 0,
                    }
                },
                data: json2.chart0.lowLine
            },
            ]
        };

        myChart4.setOption(option4);
        //图表自适应窗口大小
        $('#main4').resize(function () {
            myChart4.resize();
        });
    });

    function getDateList(startDate, endDate) {
        const dateList = []
        dateList.push(new Date(startDate))
        while (true) {
            startDate.setDate(startDate.getDate() + 1)
            if (startDate.getTime() < endDate.getTime()) {
                dateList.push(new Date(startDate))
            } else {
                break
            }
        }
        dateList.push(new Date(endDate))
        return dateList
    }

    console.log(getDateList(new Date('2018-06-29'), new Date('2018-07-03')))

</script>