
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui/layui.all.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <title>Recharge</title>
</head>
<body style="background-color: #f3f3f3">
  
    <div style="margin-top:40px;background-color:#ffffff;width:1200px;height:280px;margin-left:40px;margin-right:50px" >
        <div>
            <form class="layui-form" action="">
                <div style="background-color: #ffffff">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="color:darkgrey">店铺ID：</label>
                        <div class="layui-form-mid layui-word-aux"><span  id="StoreCode"style="color:black"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="color:darkgrey">店铺名称：</label>
                        <div class="layui-form-mid layui-word-aux"><span id="StoreName" style="color:black"></span></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="color:darkgrey">可用余额：</label>
                        <div class="layui-form-mid layui-word-aux">￥<span id="BalanceMoney" style="color:black"></span></div>
                    </div>
                    <div class="layui-form-item" style="background-color:#ffffff">
                        <label class="layui-form-label" style="color:darkgrey">充值金额：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="RMB" required lay-verify="required" placeholder="请输入充值金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="background-color:#ffffff">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
<script>
   
    //Demo
    layui.use(['form'], function () {
        var form = layui.form
        var $ = layui.$;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            $.post('http://localhost:57736/Property/alipay', { Money: data.field.RMB }, function (date) {
                $('body').append(date);
            });
            return false;
        });

        $.post('http://192.168.252.151:8022/api/Reset', { UserId: 1 }, function (date) {
            var str = JSON.parse(date)

            $("#StoreCode").text(str[0].StoreCoding);
            $("#StoreName").text(str[0].StoreName);
            $("#BalanceMoney").text(str[0].Balance_Money);
        });
     
    });
</script>