
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGood</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />

</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" value="空" lay-verify="title" style="width:200px" autocomplete="off" placeholder="请输入商品名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-block" style="width:200px">
                <select id="type" lay-filter="aihao">
                    <option value="空" selected>全部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品类型</label>
            <div class="layui-input-block" style="width:200px">
                <select id="classify" lay-filter="aihao" style="width:200px">
                    <option value="空" selected>全部</option>
                    <option value="成品">成品</option>
                    <option value="原料">原料</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" id="sel">查询</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">当前第</div>
                <div class="layui-form-mid layui-word-aux" id="dq"></div>
                <div class="layui-form-mid layui-word-aux">页/</div>
                <div class="layui-form-mid layui-word-aux">共</div>
                <div class="layui-form-mid layui-word-aux" id="gy"></div>
                <div class="layui-form-mid layui-word-aux">页/</div>
                <div class="layui-form-mid layui-word-aux">共</div>
                <div class="layui-form-mid layui-word-aux" id="gt"></div>
                <div class="layui-form-mid layui-word-aux">条/</div>
                <div class="layui-form-mid layui-word-aux">每页</div>
                <div class="layui-form-mid layui-word-aux" id="my"></div>
                <div class="layui-form-mid layui-word-aux">条</div>
                <button type="button" class="layui-btn" lay-submit="" id="First">首页</button>
                <button type="button" class="layui-btn" lay-submit="" id="Prev">上一页</button>
                <button type="button" class="layui-btn" lay-submit="" id="Next">下一页</button>
                <button type="button" class="layui-btn" lay-submit="" id="Last">尾页</button>
            </div>
        </div>
    </form>
</body>
</html>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="AddGood">创建档案</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="showOne">明细</a>
</script>
<script type="text/html" id="state">
    {{#  if(d.GoodsState === 'true'){ }}
    <span style="color: palevioletred;font-weight:700">下架</span>
    {{#  } else { }}
    <span style="color: lightseagreen;font-weight:700">上架</span>
    {{#  } }}
</script>
<script>
    layui.use(['table','layer','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , form = layui.form;
        var $ = layui.$;

        //商品分类
        $.ajax({
            url: 'http://localhost:49760/api/GetGoodsTypeList/0'+'/'+" "+'/1',
            type: 'get',
            contentType: 'application/json',
            success: function (d) {
                $("#type").empty();
                $("#type").append('<option value="空" selected>全部</option>');
                $(d).each(function () {
                    var str = '<option values="' + this.goodsTypeId + '">' + this.goodsTypeName + '</option>';
                    $("#type").append(str);
                })
                layui.form.render("select");
            }
        })

        //表格初次加载
        table.render({
            elem: '#test'
            , url: 'http://localhost:49760/api/GetGoodsList/' + 1 + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox' }
                , { field: 'GoodsId', title: '编号', width: 150,sort: true }
                , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                , { field: 'GoodsPhoto', title: '商品图片', width: 150, unresize: true, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                , { field: 'GoodsSize', title: '规格', width: 150}
                , { field: 'Price', title: '商品价格', width: 150 }
                , { field: 'GoodsState', title: '商品上下架状态', width: 150 ,templet: '#state'}
                , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                , { field: 'GoodsTypeName', title: '商品分类名称', width: 150}
                , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , done: function (res) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                $("#name").val(" ");
                $("#countH").val(res.count);
                $("#dq").text(1);
                $("#gy").text(Math.ceil( res.count * 1.0 / 10));
                $("#gt").text(res.count);
                $("#my").text(10);
            }
            , id:'testReload'
        });

        //查询
        $('#sel').on('click', function () {
            //执行重载
            table.render({
                elem: '#test'
                , url: 'http://localhost:49760/api/GetGoodsList/' + 1 + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'GoodsId', title: '编号', width: 150, fixed: 'left', unresize: true, sort: true }
                    , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                    , { field: 'GoodsPhoto', title: '商品图片', width: 150, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                    , { field: 'GoodsSize', title: '规格', width: 150 }
                    , { field: 'Price', title: '商品价格', width: 150 }
                    , { field: 'GoodsState', title: '商品上下架状态', width: 150, templet: '#state' }
                    , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                    , { field: 'GoodsTypeName', title: '商品分类名称', width: 150 }
                    , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                //, page: true
                , done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    $("#name").val(" ");
                    $("#countH").val(res.count);
                    $("#dq").text(1);
                    $("#gy").text(Math.ceil(res.count * 1.0 / 10));
                    $("#gt").text(res.count);
                    $("#my").text(10);
                }
                , id: 'testReload'
            });
        });

        //$("#dq").text();//当前
        //$("#gy").text();//共页
        //$("#gt").text();//共条
        //$("#my").text();//每页条

        //首页
        $("#First").on('click', function (d) {
            table.render({
                elem: '#test'
                , url: 'http://localhost:49760/api/GetGoodsList/' + 1 + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'GoodsId', title: '编号', width: 150, sort: true }
                    , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                    , { field: 'GoodsPhoto', title: '商品图片', width: 150, unresize: true, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                    , { field: 'GoodsSize', title: '规格', width: 150 }
                    , { field: 'Price', title: '商品价格', width: 150 }
                    , { field: 'GoodsState', title: '商品上下架状态', width: 150, templet: '#state' }
                    , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                    , { field: 'GoodsTypeName', title: '商品分类名称', width: 150 }
                    , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    $("#name").val(" ");
                    $("#countH").val(res.count);
                    $("#dq").text(1);
                    $("#gy").text(Math.ceil(res.count * 1.0 / 10));
                    $("#gt").text(res.count);
                    $("#my").text(10);
                }
                , id: 'testReload'
            });
        })

        //上一页
        $("#Prev").on('click', function (d) {
            if (Number($("#dq").text()) > 1) {
                $("#dq").text(Number($("#dq").text()) - 1)
            }
            else {
                alert("已经是第一页了");
                return;
            }
            table.render({
                elem: '#test'
                , url: 'http://localhost:49760/api/GetGoodsList/' + $("#dq").text() + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'GoodsId', title: '编号', width: 150, sort: true }
                    , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                    , { field: 'GoodsPhoto', title: '商品图片', width: 150, unresize: true, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                    , { field: 'GoodsSize', title: '规格', width: 150 }
                    , { field: 'Price', title: '商品价格', width: 150 }
                    , { field: 'GoodsState', title: '商品上下架状态', width: 150, templet: '#state' }
                    , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                    , { field: 'GoodsTypeName', title: '商品分类名称', width: 150 }
                    , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    $("#name").val(" ");
                    $("#countH").val(res.count);
                    $("#gy").text(Math.ceil(res.count * 1.0 / 10));
                    $("#my").text(10);
                }
                , id: 'testReload'
            });
        })

        //下一页
        $("#Next").on('click', function (d) {
            var a = $("#dq").text();
            if (Number($("#dq").text()) < Number($("#gy").text())) {
                $("#dq").text(Number(a) + 1)
            }
            else {
                alert("已经是最后一页了");
                return;
            }
            table.render({
                elem: '#test'
                , url: 'http://localhost:49760/api/GetGoodsList/' + $("#dq").text() + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'GoodsId', title: '编号', width: 150, sort: true }
                    , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                    , { field: 'GoodsPhoto', title: '商品图片', width: 150, unresize: true, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                    , { field: 'GoodsSize', title: '规格', width: 150 }
                    , { field: 'Price', title: '商品价格', width: 150 }
                    , { field: 'GoodsState', title: '商品上下架状态', width: 150, templet: '#state' }
                    , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                    , { field: 'GoodsTypeName', title: '商品分类名称', width: 150 }
                    , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    $("#name").val(" ");
                    $("#countH").val(res.count);
                    $("#gy").text(Math.ceil(res.count * 1.0 / 10));
                    $("#my").text(10);
                }
                , id: 'testReload'
            });
        })

        //尾页
        $("#Last").on('click', function (d) {
            table.render({
                elem: '#test'
                , url: 'http://localhost:49760/api/GetGoodsList/' + $("#gy").text() + '/' + 10 + '/' + $("#name").val() + '/' + $("#type option:selected").text() + '/' + $("#classify option:selected").val() + '/1'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'GoodsId', title: '编号', width: 150, sort: true }
                    , { field: 'GoodsName', title: '商品名称', width: 150, edit: 'text' }
                    , { field: 'GoodsPhoto', title: '商品图片', width: 150, unresize: true, templet: '<div><img src = "{{ d.GoodsPhoto}}" alt = "" /></div>' }
                    , { field: 'GoodsSize', title: '规格', width: 150 }
                    , { field: 'Price', title: '商品价格', width: 150 }
                    , { field: 'GoodsState', title: '商品上下架状态', width: 150, templet: '#state' }
                    , { field: 'Goodsclassify', title: '商品类型', width: 150 }
                    , { field: 'GoodsTypeName', title: '商品分类名称', width: 150 }
                    , { field: 'GoodsUnitName', title: '商品单位名称', width: 150 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    $("#name").val(" ");
                    $("#countH").val(res.count);
                    $("#dq").text(1);
                    $("#gy").text(Math.ceil(res.count * 1.0 / 10));
                    $("#gt").text(res.count);
                    $("#my").text(10);
                }
                , id: 'testReload'
            });
        })

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'AddGood':
                    layer.open({
                        type: 2 //此处以iframe举例
                        , title: '添加商品档案'
                        , area: ['600px', '600px']
                        , shade: 0
                        , maxmin: false
                        , content:'/Goods/AddGood'
                        , btn: ['关闭'] //只是为了演示
                        , btn2: function () {
                            layer.closeAll();
                        }
                        , zIndex: layer.zIndex //重点1
                        , success: function (layero) {
                            layer.setTop(layero); //重点2
                        }
                    });
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
