/
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetGoodsShow</title>
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    
</body>
</html>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$;
        table.render({
            elem: '#test'
            , url: 'http://@ViewBag.Url/api/GetGoodsShow'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'goodsId', title: '商品编号', width: 150, fixed: 'left', unresize: true, sort: true }
                , { field: 'goodsName', title: '商品名称', width: 150, edit: 'text' }
                
                , { field: 'goodsSize', title: '规格', width: 150, edit: 'text', sort: true }
                , { field: 'goodsUnitName', title: '单位', width: 150 }
                , { field: 'goodsclassify', title: '类型', width: 150 }
                , { field: 'goodsTypeName', title: '分类', width: 150, sort: true }
            ]]
            , page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            if (obj.event == 'getCheckData') {
                var data = checkStatus.data;
                var arr=[];
                for (var i = 0; i < data.length; i++) {
                    arr.push(data[i].goodsId)
                }
                location.href = '/Procurement/AddProcurements?goodsid=' + arr.toString();
               
            }
        });

    })
</script>
