
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>commodityStocksandGoodsShow</title>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">仓库</label>
                <div class="layui-input-inline">
                    <select id="WarehouseName" name="WarehouseName">
                        
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="goodsName" id="goodsName"  class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品编号</label>
                <div class="layui-input-inline">
                    <input type="tel" name="goodsId" id="goodsId" lay-verify="url" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="inquire" lay-submit="" lay-filter="demo1">立即查询</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </form>
</body>
</html>
<script type="text/html" id="barDemo">
    <a style="background-color:pink;color:bisque" class="layui-btn layui-btn-xs" lay-event="edit">流水记录</a>
</script>
<script>
    layui.use(['table','form'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;
        table.render({
            elem: '#test'
            , url: 'http://192.168.252.151:8022/api/commodityStocksandGoodsShow'

            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'commodityStocksId', title: '库存id', width: 80, fixed: 'left', unresize: true, sort: true }
                , { field: 'goodsId', title: '商品编号', width: 120, edit: 'text' }
                , { field: 'goodsName', title: '商品名称', width: 80, edit: 'text', sort: true }
                , { field: 'goodsSize', title: '商品规格', width: 100 }
                , { field: 'goodsUnitName', title: '商品单位名称' }
                , { field: 'inventory', title: '库存数量', width: 80, sort: true }
                , { field: 'vendibilityInventory', title: '可售库存数量', width: 120 }
                , { field: 'warehouseName', title: '仓库名', width: 120 }
                , { field: 'warehousePrincipal', title: '执行人', width: 120 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
            ,id:'tables'

        });
        $("#inquire").on('click', function () {
            table.reload('tables', {
                page: {
                    curr:1,
                },
                where: {
                    warehouseName:$("#warehouseName").val(),
                    goodsName:$("#goodsName").val(),
                    goodsId:$("#goodsId").val(),
                }
            })
        })
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                location.href = '/Stroage/GoodsflowingWater?goodsId=' + data.goodsId;
            }
        });
        //仓库下拉
        $.ajax({
            url: 'http://192.168.252.151:8022/api/GetWarehousesShowed',
            type: 'get',
            contentType: 'application/json',
            success:
                function (d) {
                    $("#WarehouseName").empty();
                    $("#WarehouseName").append('<option value=" ">请选择</option>');
                    $(d).each(function () {
                        var str = '<option value="' + this.warehouseName + '">' + this.warehouseName + '</option>';
                        $("#WarehouseName").append(str);
                        //渲染下拉框
                        form.render("select");
                    })
                }
        })

    })
</script>
