
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StoreSetAdd</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JWT.js"></script>
    <style>
        .logodiv {
            width: 126px;
            height: 96px;
            float: left;
            background-color: whitesmoke;
            border: 1px solid pink;
            color: pink
        }

            .logodiv:hover {
                border: 1px solid hotpink;
                color: hotpink
            }

        .logodiv2 {
            width: 126px;
            height: 126px;
            float: left;
            background-color: whitesmoke;
            border: 1px solid pink;
            color: pink
        }
    </style>
</head>
<body>
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">店铺分享文案:</label>
            <div class="layui-input-block">
                <input type="text" name="storeSetInformation" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺分享海报:</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div id="test1" class="logodiv" style="padding-top:30px">
                        <i class="layui-icon" style="font-size:30px;margin-top:50px;margin-left:50px">&#xe654;</i><br /><label style="margin-left:35px">上传图片</label>
                    </div>
                    <div class="logodiv2" id="imgdiv" style="margin-left:10px">
                        <p style="margin: 35px"><i class="layui-icon" style="font-size:50px">&#xe64a;</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系客户:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetIsService" value="true" title="开启" checked="">
                <input type="radio" name="storeSetIsService" value="false" title="关闭">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">售空商品:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetIsEmpty" value="true" title="展示" checked="">
                <input type="radio" name="storeSetIsEmpty" value="false" title="不展示">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品评价:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetIsEvaluate" value="1" title="展示" checked="">
                <input type="radio" name="storeSetIsEvaluate" value="2" title="不展示">
                <input type="radio" name="storeSetIsEvaluate" value="3" title="仅显示好评">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品销量:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetIsSales" value="true" title="展示" checked="">
                <input type="radio" name="storeSetIsSales" value="false" title="不展示">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库存扣减方式:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetIsDeduction" value="true" title="拍下减库存" checked="">
                <input type="radio" name="storeSetIsDeduction" value="false" title="付款减库存">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">自动取消订单时间:</label>
            <div class="layui-input-block">
                拍下后<input type="text" name="storeSetAtuoCancel" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">分钟未付款,系统自动取消订单
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开票时间:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetMakeInvoice" value="true" title="开启" checked="">
                <input type="radio" name="storeSetMakeInvoice" value="false" title="关闭">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">切换网店设置:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetChangeStore" value="1" title="根据地址/定位选择切换" checked="">
                <input type="radio" name="storeSetChangeStore" value="2" title="根据自提点切换">
                <input type="radio" name="storeSetChangeStore" value="3" title="手动切换,默认最近的网店">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺下单设置:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetOrder" value="true" title="不允许多网点同时下单" checked="">
                <input type="radio" name="storeSetOrder" value="false" title="允许多网点同时下单">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺运营模式:</label>
            <div class="layui-input-block">
                <input type="radio" name="storeSetOperation" value="1" title="快递到家" checked="">
                <input type="radio" name="storeSetOperation" value="2" title="同城配送">
                <input type="radio" name="storeSetOperation" value="3" title="社区团购">
                <input type="radio" name="storeSetOperation" value="4" title="门店自取">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">歇业原因:</label>
            <div class="layui-input-block">
                <input type="text" name="storeSetClose" lay-verify="title" autocomplete="off" placeholder="请输入歇业原因" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    layui.use(['form', 'layer', 'element', 'layedit', 'laydate', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        var element = layui.element;
        var $ = layui.jquery
            , upload = layui.upload;
        var storeid = 2;
        //反填
        //$.ajax({
        //    url: "http://192.168.252.151:8022/api/Setting/IsHaveCompany?storeid=" + storeid,
        //    contentType: "application/json",
        //    success: function (d) {
        //        if (d.length > 0) {
        //            $("#companyStates").text("已认证");
        //            $(d).each(function () {
        //                form.val('example', {
        //                    "companyType": this.companyType
        //                    , "companyName": this.companyName
        //                    , "companyAddress": this.companyAddress
        //                    , "companyLegalPerson": this.companyLegalPerson
        //                    , "companyIDNUM": this.companyIDNUM
        //                    , "companyUnifyNUM": this.companyUnifyNUM
        //                    , "companyPersonName": this.companyPersonName
        //                    , "companyPersonIDNUM": this.companyPersonIDNUM
        //                    , "companyLinkmanPhone": this.companyLinkmanPhone
        //                });

        //                $("#imgdiv").empty();
        //                var str = '<img src=""  style="width:126px;height:126px" id="demo1" alt="加载中..." />';
        //                $("#imgdiv").append(str);
        //                $('#demo1').attr('src', this.companyPhoto); //图片链接（base64）

        //                $("#imgdiv2").empty();
        //                var str = '<img src=""  style="width:126px;height:126px" id="demo2" alt="加载中..." />';
        //                $("#imgdiv2").append(str);
        //                $('#demo2').attr('src', this.idFront); //图片链接（base64）

        //                $("#imgdiv3").empty();
        //                var str = '<img src=""  style="width:126px;height:126px" id="demo3" alt="加载中..." />';
        //                $("#imgdiv3").append(str);
        //                $('#demo3').attr('src', this.idBack); //图片链接（base64）

        //                $("#save").addClass("layui-btn layui-btn-disabled").prop("disabled", true);
        //            })
        //        }
        //        else {
        //            $("#companyStates").text("未认证");
        //        }

        //    }
        //});
        var SharePhoto;
        //营业执照图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/Setting/GetImg' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $("#imgdiv").empty();
                    var str = '<img src=""  style="width:126px;height:126px" id="demo1" alt="加载中..." />';
                    $("#imgdiv").append(str);
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                SharePhoto = res.result;
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //自定义验证规则
        form.verify({
            storeName: function (value) {
                if (value.length < 3) {
                    return '店铺名称至少得3个字!!!';
                }
            }
            //, pass: [
            //    /^[\S]{6,12}$/
            //    , '密码必须6到12位，且不能出现空格'
            //]
        });


        //监听提交
        form.on('submit(demo1)', function (data) {
            
            data.field.storeSetInformation = data.field.storeSetInformation;
            data.field.storeSetPoster = SharePhoto;
            data.field.storeSetIsService = Boolean(data.field.storeSetIsService);
            data.field.storeSetIsEmpty = Boolean(data.field.storeSetIsEmpty);
            data.field.storeSetIsEvaluate = Number(data.field.storeSetIsEvaluate);
            data.field.storeSetIsSales = Boolean(data.field.storeSetIsSales);
            data.field.storeSetIsDeduction = Boolean(data.field.storeSetIsDeduction);
            data.field.storeSetAtuoCancel = Number(data.field.storeSetAtuoCancel);
            data.field.storeSetMakeInvoice = Boolean(data.field.storeSetMakeInvoice);
            data.field.storeSetChangeStore = Number(data.field.storeSetChangeStore);
            data.field.storeSetOrder = Boolean(data.field.storeSetOrder);
            data.field.storeSetOperation = Number(data.field.storeSetOperation);
            data.field.storeId = storeid;

            //layer.alert(JSON.stringify(data.field), {
            //    title: '最终的提交信息'
            //})
            $.ajax({
                url: "http://192.168.252.151:8022/api/Setting/AddStoreSet",
                contentType: "application/json",
                data: JSON.stringify(data.field),
                type: "post",
                success: function (d) {
                    if (d > 0) {
                        alert('保存成功');
                    }
                    else {
                        alert('保存失败');
                    }
                }
            });

            return false;
        });
        //图片放大
        //element.init(); //这行代码就是关键
        //$('#demo1').on('click', function () {
        //    layer.photos({
        //        photos: '#imgdiv',
        //        shadeClose: true,
        //        closeBtn: 2,
        //        anim: 1
        //    });
        //});

    });
</script>