
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateRolesPowers</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="float:left;width:340px;margin-left:10px;margin-top:10px">
        <div class="layui-input-inline" style="margin-left:10px;margin-top:10px">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入角色名称" class="layui-input">
            <div id="test13" style="font-size:20px" class="demo-tree-more"></div>
        </div>
    </div>
    <div style="float:left;width:850px;margin-left:20px;margin-top:10px">
        <table id="setPower" class="table table-bordered">
            <thead>
                <tr>
                    <th>主菜单</th>
                    <th>页面主菜单</th>
                    <th>页面副菜单</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    @*<table class="table table-bordered">
        <tr>
            <td>一级</td>
            <td>二级</td>
            <td>三级</td>
        </tr>
        <tr>
            <td rowspan="3">hhh3</td>
            <td rowspan="2">hhh4</td>
            <td>hhh7</td>
        </tr>
        <tr>
            <td>hhh5</td>
        </tr>
        <tr>
            <td>hhh6</td>
            <td>hhh6</td>
        </tr>
        
    </table>*@
</body>
</html>
<script>
    layui.use(['tree', 'util'], function () {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;
        //模拟数据1

        var data;
        $.ajax({
            url: "http://localhost:49760/api/Setting/GetRoleTypes",
            contentType: "application/json",
            async: false,
            success: function (d) {
                data = d;
            }
        });
        $.ajax({
            url: "http://localhost:49760/api/Setting/GetPowersBySet?powerParentId=0&rolesId=1",
            contentType: "application/json",
            async: false,
            success: function (d) {
                
                $(d).each(function () {
                    // rowspan='"+rowspanlength+"'
                    var str =
                        "<tr>"
                        + "<td>"
                        + "<input id='Checkbox1' type='checkbox' />" + this.powersName
                        + "</td >"
                        + "<td id='mainMenu" + this.powersId + "'>"
                        + "</td>"
                        + "<td id='Menu2" + this.powersId + "'>"
                        + "</td>"
                        + "</tr >";
                    $("#setPower").append(str);
                    var powerId = this.powersId;
                    $.ajax({
                        url: "http://localhost:49760/api/Setting/GetPowersBySet?powerParentId=" + this.powersId + "&rolesId=1",
                        contentType: "application/json",
                        async: false,
                        success: function (d) {
                            var tbid = "#mainMenu" + powerId;
                            $(tbid).empty();
                            var str2 = "<table>";
                            var arr = [];
                            $(d).each(function () {
                                str2 += '<tr><td><input id="Checkbox1" type="checkbox" />' + this.powersName + '</td></tr>';
                                arr.push(this.powersId);
                            })
                            str2 += "</table>";
                            $(tbid).append(str2);
                            var tbid2 = "#Menu2" + powerId;
                            $(tbid2).empty();
                            for (var i in arr) {
                                $.ajax({
                                    url: "http://localhost:49760/api/Setting/GetPowersBySet?powerParentId=" + arr[i] + "&rolesId=1",
                                    contentType: "application/json",
                                    async: false,
                                    success: function (d) {
                                        var str2 = "<table>";
                                        $(d).each(function () {
                                            str2 += '<tr><td><input id="Checkbox1" type="checkbox" />' + this.powersName + '</td></tr>';
                                        })
                                        str2 += "</table>";
                                        $(tbid2).append(str2);
                                    }
                                });
                            }
                        }
                    });
                })

            }
        });
        //无连接线风格
        tree.render({
            elem: '#test13'
            , data: data
            , showLine: false  //是否开启连接线
        });

    });
</script>
