
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <title>忘记密码</title>
    <link href="~/jquerylogin/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="body">
        <!--<img src="img/tubiao-09.png" class="logo" />-->
        <div class="body_count">
            <div class="login_count">
                <div class="login_count_a">

                    <div id="all">
                        <ul id="option">
                            <li class="active login_left">注册</li>
                        </ul>
                        <ul id="card">
                            <li class="active">
                                <!--输入框-->
                                <div class="login_bot_count">
                                    @*<img src="img/tubiao-07.png" alt="" />*@
                                    <img src="~/jquerylogin/img/tubiao-07.png" />
                                    <input type="text" name="phone" id="phone" placeholder="请输入账号" />
                                </div>
                                <div class="login_bot_count">
                                    @*<img src="img/tubiao-06.png" alt="" />*@
                                    <img src="~/jquerylogin/img/tubiao-06.png" />
                                    <input type="text" name="YZM" id="YZM" placeholder="请输入6位验证码" />
                                </div>
                                <div class="login_bot_count">
                                    @*<img src="img/tubiao-06.png" alt="" />*@
                                    <img src="~/jquerylogin/img/tubiao-06.png" />
                                    <input type="text" name="pwd" id="pwd" placeholder="请输入6位验证码" />
                                </div>
                                <!--登录按钮-->

                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确定修改</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script src="~/jquerylogin/js/login.js"></script>
</body>
</html>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
        var $ = layui.$;
        //监听提交
        form.on('submit(demo1)', function (data) {
            var obj = {};
            obj.UserPhone = data.field.phone;
            obj.UserPasswork = data.field.pwd;
            console.log(obj);
            $.ajax({
                url: 'http://localhost:49760/api/Forgers',
                type: 'post',
                data: JSON.stringify({ UserPhone: $("#phone").val(), UserPassword: $("#pwd").val() }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        layer.msg('修改成功', { icon: 1, title: '提示', time: 2000 }, function () {
                            
                            location.href = '/Login/LoginIndex';
                        })
                    }
                    else {
                        layer.msg("修改失败");
                    }
                }
            })
            return false;
        });
    });
</script>
