
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>短信登陆</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
</head>
<body>
    @*<form id="phoneform" class="layui-form" style="margin-top:10%;margin-left:30%;*@
@*background-color:white;
    height: 180px;
    width:400px;
    padding: 50px;
    border-radius:15px;" method="post" action="<%=basePath%>/personal/msg/findphonepnum">*@

        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block">
                <input id="usersphone" type="text" name="usersphone" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">

            </div>
            <div id="msg" style="margin-left: 40px"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-block">
                <input id="pnum" type="text" name="pnum" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">

                <input type="button"  class="layui-btn" id="find" value="点击获取验证码" />
                <button class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
            </div>
        </div>
    @*</form>*@
    <script>
        //layui.use(['form', 'layedit', 'laydate', 'layer'], function () {
        //    var form = layui.form
        //        , layer = layui.layer
        //        , layedit = layui.layedit
        //        , laydate = layui.laydate;
        //    var $ = layui.$;
        //    $("#find").click(function () {
        //        if ($("#username").val() == '') {
        //            layer.msg("请填写正确用户名");
        //            return false;
        //        }
        //        var obj = this;
        //        $.ajax({
        //            type: "post",
        //            url: "http://localhost:49760/api//api/Logins",
        //            data: {
        //                usersphone: $("#usersphone").val(),
        //            },
        //            dataType: "json",//返回的
        //            success: function (data) {

        //                if (data.result) {
        //                    $("#find").addClass(" layui-btn-disabled");
        //                    $('#find').attr('disabled', "true");
        //                    settime(obj);
        //                    $("#msg").text(data.msg);
        //                } else {
        //                    layer.msg(data.msg);
        //                }
        //            },
        //            error: function (msg) {
        //                console.log(msg);
        //            }
        //        });
        //    });
        //});
        
        var FYZ;
        //倒计时按钮
        $('#find').click(function () {
            var pone = $("#usersphone").val();
            let count = 59;
            const countDown = setInterval(() => {
                if (count === 0) {
                    $('#find').val('重新发送').removeAttr('disabled');
                    $('#find').css({
                        background: '#ff9400',
                        color: '#fff',
                    });
                    clearInterval(countDown);
                } else {
                    $('#find').attr('disabled', true);
                    $('#find').css({
                        background: '#d8d8d8',
                        color: '#707070',
                    });
                    $('#find').val(count + '秒后可重新获取');
                }
                count--;
            }, 1000);

                //使用ajax发送数据
                $.ajax({
                    url: "/Login/Indexs?pone=" + pone, 
                    type: "get",
                    //dataType: "json",
                    contentType: "application/json",
                    success: function (d) {
                        //将返回的验证码放入隐藏域
                        FYZ = d;
                    }
                })
        });
    </script>
 
</body>
</html>
