
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>注册</title>
</head>
<body>
    <div class="video-player" preload="auto" autoplay="autoplay" loop="loop" data-height="1080" data-width="1920" height="1080" width="1920">
        <!--背景图片-->
        <img src="~/Img/19a12295d3ed0bc7908c060f21ab136c.jpeg" style="width:100%; height:100%" />
    </div>
    <form style="margin-top:-500px;margin-left:1400px" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="color:white">手机号</label>
            <div class="layui-input-inline">
                <input type="text" phone name="phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="color:white">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="pwd" id="pwd" lay-verify="required" lay-reqtext="设置密码（8-12位，包含数字及字母）" placeholder="请输入6位验证码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">注册</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
        var $ = layui.$;
        //监听提交
        form.on('submit(demo1)', function (data) {
            var obj = {};
            obj.UserPhone = data.field.phone;
            obj.UserPassword = data.field.pwd;
            console.log(obj);
            $.ajax({
                url: 'http://localhost:49760/api/Register',
                type: 'post',
                data: JSON.stringify(obj),
                contentType: 'application/json',
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        layer.msg('注册成功', { icon: 1, title: '提示', time: 2000 }, function () {
                            
                            location.href = '/Login/Show';
                        })
                    }
                    else {
                        layer.msg("注册失败");
                    }
                }
            })
            return false;
        });
    });
</script>
