
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChoseStore</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <style>
        .bigdiv {
            padding-left: 100px;
            padding-top: 150px;
        }

        .changjiandianpu {
            margin-left: 30px;
            margin-top: 30px;
            width: 400px;
            height: 300px;
            float: left;
            border: 3px dashed gray;
        }

            .changjiandianpu:hover {
                border-color: pink;
                color: pink;
            }

        .dianpu {
            margin-left: 30px;
            margin-top: 30px;
            width: 400px;
            height: 300px;
            border: 3px solid gray;
            float: left;
        }

            .dianpu:hover {
                border-color: pink;
            }

        .leftdianpu {
            width: 100px;
            height: 300px;
            float: left
        }

        .rightdianpu {
            width: 300px;
            height: 300px;
            float: left
        }

        .imgstyle {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            margin: 15px;
            border: 2px solid white;
        }

            .imgstyle:hover {
                border-color: pink
            }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="background-color:lightpink">
            <div class="layui-logo" style="color:white"><img style="width:40px;height:40px" src="~/Img/TigerLogo2.png" />&nbsp;&nbsp;五虎上將</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe66f;</i>
                        <label id="username"></label>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Login/Show">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div id="Body" class="layui-body bigdiv">
            <div class="changjiandianpu" id="createStore">
                <div id="createStore" style="margin-left:160px;margin-top:140px">
                    <i style="font-weight:600" class="layui-icon layui-icon-home"></i>
                    <label style="font-weight:600">创建店铺</label>
                </div>
            </div>

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © WuHu.com
        </div>
    </div>

</body>
</html>
<script>
    document.getElementById("Body").style.left = 0;
    //JavaScript代码区域
        layui.use(['element', 'layer'], function () {
            var layer = layui.layer;
        var element = layui.element;
        var $ = layui.$;
        var eid = 0;
        $.ajax({
            url: "http://localhost:49760/api/Setting/GetStoresFromLogin?userPhone=" + @ViewBag.phone,
            contentType: "application/json",
            headers: { 'Authorization': "Bearer " + getCookie("token") },
            success: function (d) {
                $(d).each(function () {
                    eid = this.employeeId;
                    var str = '<div class="dianpu" onclick="choseStore(' + this.employeeId + ',' + this.storeId+')">'
                        + '<div class="leftdianpu" >'
                        + '<img class="imgstyle" src="' + this.storeLogo+'" />'
                        + '</div>'
                        + '<div class="rightdianpu">'
                        + '<table style="line-height:37px;margin:20px;">'
                        + '<tr>'
                        + '<td><label style="font-weight:600;font-size:20px">' + this.storeName + '</label>&nbsp;&nbsp;&nbsp;&nbsp;<label style="background-color:' + (this.storeStates == 1 ? 'green' : 'orange') +';padding:5px;border-radius:5px;color:white">' + (this.storeStates==1?'运营中':'试用中')+'</label></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td style="color:gray;font-weight:600">店铺ID:&nbsp;&nbsp;' + this.storeCoding+'</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><label style="color:gray;font-weight:600">行业:</label>&nbsp;&nbsp; ' + this.industryName+'</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><label style="color:gray;font-weight:600">分类:</label>&nbsp;&nbsp; ' + this.classifyName+'</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><label style="color:gray;font-weight:600">有效期剩余:</label>&nbsp;&nbsp; ' + this.storeTimeOut+'天</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><label style="color:gray;font-weight:600">创建时间:</label>&nbsp;&nbsp;' + this.storeCreateDate+'</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><label style="color:gray;font-weight:600">主体:</label>&nbsp;&nbsp;<label style="color:' + (this.storeCompanyId > 0 ? 'black' : 'orange') + '">' + (this.storeCompanyId >0 ? '已认证' : '未认证') +'</label></td>'
                        + '</tr>'
                        + '</table>'
                        + '</div>'
                        + '</div >';
                    var str2 = "<label>" + this.employeeName+"</label>";
                    $("#username").html(str2);
                    $("#Body").append(str);
                })
            }
        })
        layui.$('#createStore').on('click', function () {
            layer.open({
                type: 2,
                title: '创建店铺',
                skin: 'layui-layer-rim', //加上边框
                area: ['420px', '500px'], //宽高
                content: '/Model/CreateStore?id='+eid,
                btn: ['关闭'], //只是为了演示
                yes: function () {
                    layer.closeAll();
                }

            });
        });
            
        });
    //var count = Conf.get('COUNT');
    
    //var count = Conf.get('COUNT');
    //alert(count);
    function choseStore(id, sid) {
        location.href = '/Model/Model?eid=' + id + '&sid=' + sid;
    }
    function Setcookie(name, value) {
        //设置名称为name,值为value的Cookie
        var expdate = new Date();   //初始化时间
        expdate.setTime(expdate.getTime() + 60 * 1000);   //时间单位毫秒
        document.cookie = name + "=" + value + ";expires=" + expdate.toGMTString() + ";path=/";

        //即document.cookie= name+"="+value+";path=/";  时间默认为当前会话可以不要，但路径要填写，因为JS的默认路径是当前页，如果不填，此cookie只在当前页面生效！
    }
    function getCookie(c_name) {
        //判断document.cookie对象里面是否存有cookie
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            //如果document.cookie对象里面有cookie则查找是否有指定的cookie，如果有则返回指定的cookie值，如果没有则返回空字符串
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }
</script>