
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model</title>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>

</head>
<body class="layui-layout-body ">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="background-color:lightpink">
            <div class="layui-logo" style="color:white"><img style="width:40px;height:40px" src="~/Img/TigerLogo2.png" />&nbsp;&nbsp;五虎上將</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul id="upNavigation" class="layui-nav layui-layout-left">
                @*<li class="layui-nav-item"><a href="">控制台</a></li>
                    <li class="layui-nav-item"><a href="">商品管理</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li>*@
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <div class="layui-input-inline">
                        <input type="text" style="color:black" autocomplete="off" placeholder="请输入关键字全站搜索" class="layui-input">
                    </div>
                </li>
                <li class="layui-nav-item">
                    <button type="button" style="background-color:hotpink" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
                </li>
                <li class="layui-nav-item">
                    <button type="button" style="background-color:lightpink" class="layui-btn layui-btn-sm">
                        <i class="layui-icon">&#xe607;</i>
                    </button>
                </li>
                <li class="layui-nav-item">
                    <button type="button" style="background-color:lightpink" class="layui-btn layui-btn-sm">
                        <i class="layui-icon">&#xe60f;</i>
                    </button>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe66f;</i>
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">返回首页</a></dd>
                        <dd><a href="">切换店铺</a></dd>
                        <dd><a href="">进入平台管理中心</a></dd>
                        <dd><a href="">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div id="Side" class="layui-side layui-bg-black">
            <div style="background-color:lightpink" class="layui-side-scroll">
                <ul id="LeftNavigation" class="layui-nav layui-nav-tree" lay-filter="test"  style="background-color:lightpink">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" id="hhhh" href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div id="Body" class="layui-body">
            <!-- 内容主体区域 -->
            <iframe id="iframe1"  scrolling="auto" style="width:1325px;height:779px;padding-top:20px;padding-left:20px" src="/Model/First" frameborder="0"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
</body>
</html>
<script>
    document.getElementById("Side").hidden = "hidden";
    document.getElementById("Body").style.left = "0px";
    //var count = 0;
    //style = "width:1669px;height:779px"
    //if (count == 0) {
    //    document.getElementById("Side").hidden = "hidden";
    //    document.getElementById("Body").style.position = "static";
    //    document.getElementById("Body").style.width = "1536px";
    //    document.getElementById("Body").style.height = "700px";
    //    count += 1;
    //}
    layui.use(['element'], function () {
        var element = layui.element;
        var div = layui.div;
        var $ = layui.$;
        var id = @ViewBag.id;
        if (id<=0) {
            id = 1;
        }
        $.ajax({
            url: "http://localhost:49760/api/Setting/GetPowers?employeeId="+id+"&powersParentId=0",
            contentType: "application/json",
            success: function (d) {
                $(d).each(function () {
                    var str = "<li class='layui-nav-item'><a onclick='ChangeLeft(" + this.powersId + ",1)'>" + this.powersName + "</a></li>";
                    $("#upNavigation").append(str);
                })
            }
        });
        element.init(); //这行代码就是关键
    });
    function ChangeLeft(pid, eid) {
        if (pid == 1) {
            document.getElementById("Side").hidden = "hidden";
            document.getElementById("Body").style.left = "0px";
            return;
        }
        else {
            document.getElementById("Side").hidden = false;
            document.getElementById("Body").style.left = "200px";
        }
        
        $.ajax({
            url: "http://localhost:49760/api/Setting/GetPowers?employeeId=" + eid + "&powersParentId=" + pid,
            contentType: "application/json",
            success: function (d) {
                $("#LeftNavigation").empty();
                $(d).each(function () {
                    var str = "<li class='layui-nav-item layui-nav-itemed'><a class='' href='javascript:;'>" + this.powersName + "</a><dl id='DownNavigation" + this.powersId + "' class='layui-nav-child'></dl></li>";
                    $("#LeftNavigation").append(str);
                    var idstr = "#DownNavigation" + this.powersId;
                    $.ajax({
                        url: "http://localhost:49760/api/Setting/GetPowers?employeeId=" + eid + "&powersParentId=" + this.powersId,
                        contentType: "application/json",
                        success: function (d) {
                            $(d).each(function () {
                                var str2 = "<dd><a onclick='changeIFrame(\""+this.powersURL+"\")'>" + this.powersName + "</a></dd>";
                                $(idstr).append(str2);
                            })
                        }
                    });
                })
                layui.use(['element', 'layer'], function () {
                    var element = layui.element;
                    var layer = layui.layer;
                    element.init(); //这行代码就是关键
                });
            }
        });
    }
    function changeIFrame(thisurl) {
        document.getElementById("iframe1").src = thisurl;
    }
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        element.init(); //这行代码就是关键
    });
</script>